.product-card {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  overflow: hidden;
}

.product-card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.product-card-img-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.product-card-main {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-card-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: "Inter";
}

.product-card-main-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card-main-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card-price {
    font-size: 20px;
    font-weight: 600;
    display: inline;
    padding: 3px 0;
}

.product-card-main-img img {
  max-width: 500px;
  width: 100%;
}

.product-card-main button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  background-color: rgb(255, 88, 88);
  color: white;
}

@media screen and (max-width: 768px) {
  .product-card-img-list.desktop {
    display: none;
  }

  .product-card-container {
    flex-direction: column;
    font-size: small;
  }


}